@import '../../styles/var';

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $blue-footer;
    padding: 0 24px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 30px rgba($color: #000000, $alpha: 0.5);
    box-sizing: border-box;
    
    &__medias {
        display: flex;
        gap: 35px;
        list-style: none;
    }

    &__p {
        margin: 0;
        font-family: $font-normal;
        color: $text-color;
    }
}